<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css"/>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
    </header>
    <main>
      <br><p></p>
      <div class="jumbotron">
        <!-- link-table div -->
        <div id="link-table">
        <p></p><br>
        
            <!-- title row -->
            <div class="row justify-content-md-center">
                <h1>Success!</h1>
            </div><br>
            <div class="row justify-content-md-center">
                <h5>You just saved: <a href="<%= links[3].item %>" target="_blank"><%= links[3].item %></a> to:</h5>
            </div>
            <br>
        
        </div> <!-- end of link-table div -->
        <br><br>
        
        <!-- complete link library (list) -->
        <ul class="list-unstyled">
          <div class="row justify-content-md-center">
        
            <!-- Setting up General Link Cards -->
            <% if ((links[3].category === 'General') || (links[3].category === 'general')) { %>
                <li>
                    <div class="col col-lg-12">
                        <div class="card border-secondary" style="width: 20rem;">
                            <div class="card-header">
                                General Link
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title text-secondary"><%=links[3].name%></h4>
                                <br>
                                <p class="card-text"><%=links[3].details%></p>
                                <a class="btn btn-outline-secondary" target="_blank" href="<%=links[3].item%>">Revisit this link!</a>
                            </div>
                            <div class="card-footer text-right">
                                <small class="form-text text-muted">Submitted on <%=links[3].date%></small>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </li>
            
            <!-- Setting up Favorite Link Cards -->
            <% } else if ((links[3].category === 'Favorite') || (links[3].category === 'favorite')) { %>    
                <li>
                    <div class="col col-lg-12">
                        <div class="card border-info" style="width: 20rem;">
                            <div class="card-header text-info">
                                Favorite Link
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title text-info"><%=links[3].name%></h4>
                                <br>
                                <p class="card-text text-secondary"><%=links[3].details%></p>
                                <a class="btn btn-outline-info" target="_blank" href="<%=links[3].item%>">Revisit this link!</a>
                            </div>
                            <div class="card-footer text-right">
                                <small class="form-text text-muted">Submitted on <%=links[3].date%></small>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </li>
                
            <!-- Setting up Useful Link Cards -->
            <% } else if ((links[3].category === 'Useful') || (links[3].category === 'useful')) { %>    
                <li>
                    <div class="col col-lg-12">
                        <div class="card border-warning" style="width: 20rem;">
                            <div class="card-header">
                                Useful Link
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title text-warning"><%=links[3].name%></h4>
                                <br>
                                <p class="card-text text-secondary"><%=links[3].details%></p>
                                <a class="btn btn-warning text-secondary" target="_blank" href="<%=links[3].item%>">Revisit this link!</a>
                            </div>
                            <div class="card-footer text-right">
                                <small class="form-text text-muted">Submitted on <%=links[3].date%></small>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </li>
            
            <!-- Setting up Urgent Link Cards -->
            <% } else if ((links[3].category === 'Urgent') || (links[3].category === 'urgent')) { %>    
                <li>
                    <div class="col col-lg-12">
                        <div class="card border-danger" style="width: 20rem;">
                            <div class="card-header">
                                Urgent Link
                            </div>
                            <div class="card-body text-center">
                                <h3 class="card-title text-danger"><%=links[3].name%></h3>
                                <br>
                                <p class="card-text"><%=links[3].details%></p>
                                <a class="btn btn-danger" target="_blank" href="<%=links[3].item%>">Revisit this link!</a>
                            </div>
                            <div class="card-footer text-right">
                                <small class="form-text text-muted">Submitted on <%=links[3].date%></small>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </li>
            
            <!-- Setting up Other Link Cards -->
            <% } else { %>     
                <li>
                    <div class="col col-lg-12">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header text-secondary">
                                <small>(uncategorized link)</small>
                            </div>
                            <div class="card-body text-center text-secondary">
                                <h5 class="card-title"><%=links[3].name%></h5>
                                <br>
                                <p class="card-text"><%=links[3].details%></p>
                                <a class="btn btn-outline-secondary" target="_blank" href="<%=links[3].item%>">Revisit this link!</a>
                            </div>
                            <div class="card-footer text-right">
                                <small class="form-text text-muted">Submitted on <%=links[3].date%></small>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </li>
            <% } %> <!-- end of Other Link Card setup -->   
            <br>
          </div>
        </ul>
        
      </div>
    </main>
    <footer>
        <p></p><p></p><p></p>
      <% include partials/footer %>
    </footer>
  </body>
</html>
